<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="mailjet_customer_register_success" instance="Mailjet\Mailjet\Observer\Customer\RegisterSuccess" />
    </event>
</config>